html {
    background: url("./images/main_background.jpg") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Lobster', cursive;
}

body {
    background: rgba(255, 255, 255, 0.1);
    margin: 0 !important;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
}

body::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #5790EC;
    outline: 1px solid slategrey;
}

#menu-bar {
    display: none;
}


/*intro quote section*/

#left-line1,
#left-line2,
#left-line3 {
    position: fixed;
    top: 0;
    width: 20px;
}

#left-line1 {
    left: 40px;
    min-height: 95%;
    background: rgba(255, 83, 13, 0.8);
}

#left-line2 {
    left: 80px;
    min-height: 85%;
    background: rgba(255, 83, 13, 0.3);
}

#left-line3 {
    left: 120px;
    min-height: 75%;
    background: rgba(255, 83, 13, 0.7);
}

#intro-section {
    position: absolute;
    top: 30%;
    left: 40%;
}

#intro,
#intro-name {
    position: relative;
    color: #FFF;
    letter-spacing: 5px;
    font-size: 35px;
    font-family: 'Orbitron', sans-serif;
}

#intro-name {
    top: 40px;
    /*left: -30px;*/
}

#intro-name:before {
    content: "\201C";
}

#intro-name:after {
    content: "\201D";
}


/*intro quote section*/


/*menu section*/

#right-menu {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    color: #61B8DE;
    right: 0;
    top: 0;
    min-height: 100vh;
}

#right-menu ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

#right-menu ul li {
    padding: 45px 15px;
    cursor: pointer;
    text-align: right;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
}

#right-menu ul li:nth-child(1) {
    /*margin-top:55px;*/
}

#right-menu ul li:hover {
    background: #61B8DE;
    color: #EFEFEF;
    /*font-size: 25px;*/
    /*font-weight: bold;*/
    /*border-right: 15px solid rgba(255, 83, 13, 0.7);*/
    /*border-top: 15px solid rgba(255, 83, 13, 0.7);*/
    text-align: left;
}

.entered {
    background: #61B8DE;
    color: #EFEFEF;
}


/*menu section*/


/*page content*/

.content {
    max-width: 46%;
    min-height: 100vh;
    word-wrap: break-word;
    top: 100vh;
    left: 40%;
    position: relative;
    padding: 15px 15px;
    font-family: 'Lobster', cursive;
    color: #FFF;
    letter-spacing: 3px;
}

#scores-content {
    margin-left: -60px;
    left: 28% !important;
}

#awards-content ul,
#Life-Story-content ul,
#about-list {
    list-style-type: none;
}

#awards-content ul li {
    padding: 15px;
    margin: 25px 5px;
    background: #EFECCA;
    border-radius: 5px;
    letter-spacing: 3px;
    color: #046380;
    font-family: 'Orbitron', sans-serif;
    cursor: default;
}

#contribution-content,
#about-content,
#Life-Story-content {
    letter-spacing: 3px;
    font-size: 18px;
    line-height: 1.6;
}

#contribution-content div {
    margin: 20px 0px;
}

#about-content ul,
#scores-content table,
#contribution-content div,
#awards-content ul,
#Life-Story-content ul {
    padding: 15px;
}

#about-list li {
    padding: 10px;
    font-size: 18px;
}

#Life-Story-content ul li {
    padding: 15px;
}

#Life-Story-content ul li:nth-child(1),
#Life-Story-content ul li:nth-child(3) {
    background: #5790EC;
    color: #F2DFC7;
    border-radius: 10px;
}

a:visited,
a {
    color: inherit;
    text-decoration: none;
}


/*page content*/


/* media queries */

@media (max-width: 767px) {
    html {
        background: url("./images/main_background.jpg") no-repeat top left fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #left-line1,
    #left-line2,
    #left-line3 {
        display: none;
    }
    #intro-section {
        top: 10%;
        left: 10%;
    }
    #intro,
    #intro-name {
        position: relative;
        color: #FFF;
        letter-spacing: 5px;
        font-size: 45px;
        font-family: 'Orbitron', sans-serif;
    }
    #intro-name {
        top: 40px;
    }
    #menu-bar {
        display: block;
        position: fixed;
        top: 0;
        min-width: 100vw;
        background: #F7C478;
        text-align: center;
        padding: 9px 0px;
        z-index: 1;
    }
    #right-menu {
        position: fixed;
        background: none !important;
        color: #61B8DE;
        right: 0;
        top: 35px;
        min-width: 100vw;
        z-index: 1;
    }
    #right-menu ul {
        list-style-type: none;
        padding-left: 0;
        background: rgba(0, 0, 0, 0.8);
    }
    #right-menu ul li {
        display: inline-block;
        /*padding: 5px 5px;*/
        padding: 5px 21px;
        cursor: pointer;
        text-align: right;
        font-size: auto;
    }
    #right-menu ul li:nth-child(4),
    #right-menu ul li:nth-child(5) {
        padding: 5px 40px;
    }
    .content {
        min-width: 100vw;
        min-height: 100vh;
        word-wrap: break-word;
        top: 600px;
        background: rgba(0, 0, 0, 0.5);
        left: 0px;
        position: relative;
        padding: 50px 0px 15px;
    }
    #scores-content {
        max-width: 200px !important;
        margin-left: 0;
        left: 0 !important;
    }
    #about-content ul li {
        justify-content: justify;
        background: rgba(255, 255, 255, 0.5)
    }
}


/* media queries */


/*tables*/

.rwd-table {
    margin: 1em 0;
    min-width: 300px;
}

.rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.rwd-table th {
    display: none;
}

.rwd-table td {
    display: block;
}

.rwd-table td:first-child {
    padding-top: .5em;
}

.rwd-table td:last-child {
    padding-bottom: .5em;
}

.rwd-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 9.5em;
    display: inline-block;
}

@media (min-width: 480px) {
    .rwd-table td:before {
        display: none;
    }
}

.rwd-table th,
.rwd-table td {
    text-align: left;
}

@media (min-width: 480px) {
    .rwd-table th,
    .rwd-table td {
        display: table-cell;
        padding: .25em .5em;
    }
    .rwd-table th:first-child,
    .rwd-table td:first-child {
        padding-left: 0;
    }
    .rwd-table th:last-child,
    .rwd-table td:last-child {
        padding-right: 0;
    }
}

body {
    /*padding: 0 2em;*/
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #444;
}

.rwd-table {
    background: #34495E;
    color: #fff;
    border-radius: .4em;
    overflow: hidden;
}

.rwd-table tr {
    border-color: #46637f;
}

.rwd-table th,
.rwd-table td {
    margin: .5em 1em;
}

@media (min-width: 480px) {
    .rwd-table th,
    .rwd-table td {
        padding: 5px !important;
    }
}

.rwd-table th,
.rwd-table td:before {
    color: #dd5;
}
